body{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.colorBtn{
    padding: 0.25rem 0.5rem;
    border:5px solid black;
    border-radius: 50px;
    color: #fefefe;
    background: rgba(0,0,0,0.6);
    font-size: 0.85rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none
    ;

}

.colorBtn:hover{
    background: rgb(0,0,0);

}